@*
    Page for getting forgot password.
*@
@model UsersModel

<div class="text-center" style="padding-top: 95px;">

    <div style="width: 490px; margin: 0 auto">
        <table cellpadding="10" cellspacing="0">
            <tr>
                <td style="font-size:x-large; font-weight:bold;">Forgot Password</td>
            </tr>
        </table>
    </div>

    <div style="border-style: solid; width: 490px; margin: 0 auto">

        @using (Html.BeginForm("FormForgotPass", "Entry", FormMethod.Get))
        {
        <table style="border-collapse: separate; padding-top: 12px;" cellpadding="15" cellspacing="0">
            <tr>
                <th>Username</th>
                <td>@Html.TextBoxFor(m => m.UserName, new { style = "width:330px;"})</td>
            </tr>
            <tr>
                <th>Security Question</th>
                <td align="left" style="font-size:small;">Most memorable or favorite childhood destination. (place, vacation, field trip, etc.)</td>
            </tr>
            <tr>
                <th>Security Answer</th>
                <td>@Html.TextBoxFor(m => m.SecurityAnswer, new { style = "width:330px;" })</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td style="padding-left: 280px;"><input type="submit" value="Submit" /></td>
            </tr>
        </table>
        }

        <table style="border-collapse: separate; border-spacing: 12px;" cellpadding="15" cellspacing="0">
            <tr>
                <td>@Html.TextBoxFor(m => m.Message, new { @readonly = "readonly", style = "color:red; border:none; width:300px; font-weight:bold;" })</td>
            </tr>
        </table>

        <table style="border-collapse: separate; border-spacing: 12px;" cellpadding="10" cellspacing="0">
            <tr>
                @using (Html.BeginForm("EntryIndex", "Entry", FormMethod.Get))
                {
                    <td><input type="submit" value="Back to Login" /></td>
                }
            </tr>
        </table>


    </div>
</div>
