@*
    Enter transactions and make adjustments to balance
*@
@model OverviewViewModel

<div style="padding-top: 30px; padding-bottom: 30px">

    <h2><u>Activity Entry</u></h2>
    <br />

    @{
        if (Model.OverUsersModel.Balance.Contains('-'))
        {
            <h4 style="color:red;">Balance: -$@Model.OverUsersModel.Balance.Substring(1)</h4>
        }
        else
        {
            <h4>Balance: $@Model.OverUsersModel.Balance</h4>
        }
    }
    <br />
    <br />
    <br />
    <br />


    <div class="text-center" style="border-style: double; width: 400px; margin: 0 auto">
        <table style="border-collapse: separate; text-align: center;" cellpadding="20" cellspacing="0">
            <tr>
                @using (Html.BeginForm("EnterTrans", "Overview", FormMethod.Get))
                {
                    <td hidden><input type="hidden" name="userName" value="@Model.OverUsersModel.UserName" /></td>
                    <td style="padding-left: 20px"><input style="width: 150px" type="submit" value="Enter Transaction" /></td>
                }
                @using (Html.BeginForm("AdjustBalance", "Overview", FormMethod.Get))
                {
                    <td hidden><input type="hidden" name="userName" value="@Model.OverUsersModel.UserName" /></td>
                    <td style="padding-left: 35px"><input style="width: 150px" type="submit" value="Adjust Balance" /></td>
                }
            </tr>
        </table>
    </div>



</div>